---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
const collection = await getCollection('wordDocs');
---

<Layout>
	<h1>Welcome to <code>astro-word-loader</code></h1>
	<h2>Want to see some examples?</h2>
	<ul>{collection.map(({ id }) => <li>
		<a href={'/'+id}>{id}</a>
	</li>)}</ul>
</Layout>
<style>
	ul {
		display: flex;
		flex-flow: column;
		gap: 1rem;
	}
</style>